<!DOCTYPE html>
{% extends 'base.html' %}
{% block body %}
<h2>Upload Files</h2>
<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <strong>Files:</strong><br>
    <label for="mri">Select MRI Image</label>
    <input type="file" name="mri" id="mri" accept="image/*">

    <label for="ct">Select CT Image</label>
    <input type="file" name="ct" id="ct" accept="image/*">

    <label for="points">Enter Number of Points for Registration (Min 5, Max 10)</label>
    <input type="number" name="points" min="5" max="10">

    <input type="submit" value="Upload!">
</form>
{% endblock %}