<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BE Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fusion.css') }}">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 content">
                <div class="jumbotron">
                    <h1 class="display-4">Image Fusion Process</h1>
                    <p class="lead">
                        Transfer learning is an optimization that allows rapid progress or improved performance when
                        modeling the second task.
                        We aim to use the VGG-19 CNN architecture with its pre-trained parameters which would help us to
                        achieve our target.
                    </p>
                </div>
                <h3 class="heading">The Fused Image</h3>
                <center>
                    <img src="{{ url_for('static',filename='fusion.jpg') }}" id="fusion" alt="Fused Image"
                        class="fusion" style="border:2px solid #87857f;padding:15px; border-radius:10px;">
                </center>

            </div>
        </div>

        <div class="row" style="margin-bottom: 40px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <center>
                    <form action="{{ url_for('segmentation') }}" method="GET">
                        <input type="submit" value="View The Segmented Image" class="btn btn-primary">
                    </form>
                </center>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>