{% extends 'base.html' %}

{% block body %}
<div class="content">
    <div class="heading">
        <span style="margin-left:120px; margin-right: 350px;">Registered MRI Image</span>
        <span>Registered CT Image</span>
    </div>

    <img src="{{ url_for('static',filename='mri_registered.jpg') }}" id="mri" alt="MRI" class="mri">
    <img src="{{ url_for('static',filename='ct.jpg') }}" id="ct" alt="CT" class="ct">

    <form action="{{ url_for('fusion') }}" method="GET">
        <input type="submit" value="View The Fused Image">
    </form>
</div>
{% endblock %}