{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/registration.css') }}">
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static',filename='js/coord.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content">
    <div class="heading">
        <div style="margin-left:120px; margin-right: 250px;">MRI Image</div>
        <div>CT Image</div>
    </div>
    <canvas id="myCanvas" height="350" width="350"></canvas>
    <img src="{{ url_for('static',filename='mri.jpg') }}" id="mri" alt="MRI" height="350" width="350" class="mri" style="display:none;">
    <script type="text/javascript">
        
        var myImg = document.getElementById("myCanvas");
        console.log("Hi");
        console.log(myImg);
        myImg.onclick = GetCoordinates;
        
    </script>
        
    <p>X:<span id="x"></span></p>
    <p>Y:<span id="y"></span></p>

    <img src="{{ url_for('static',filename='ct.jpg') }}" id="ct" alt="CT" height="350" width="350" class="ct">
</div>
{% endblock %}