{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/registration.css') }}">
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/coord.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content">
    <div class="heading">
        <div style="margin-left:120px; margin-right: 250px;">MRI Image</div>
        <div>CT Image</div>
    </div>
    <!-- <canvas id="myCanvas" height="350" width="350"></canvas> -->
    <img src="{{ url_for('static',filename='mri.jpg') }}" id="mri" alt="MRI" class="mri">
    <img src="{{ url_for('static',filename='ct.jpg') }}" id="ct" alt="CT" class="ct">

    <p>MRI X:<span style="margin-right:300px;" id="mriX"></span>CT X:<span id="ctX"></span></p>
    <p>MRI Y:<span style="margin-right:300px;" id="mriY"></span>CT Y:<span id="ctY"></span></p>

    <!-- <form onsubmit="sendParameters()"> -->
    <button onclick="sendParameters()">Submit Data</button>
    <!-- </form> -->

    <script type="text/javascript">

        var myImgMri = document.getElementById("mri");
        var points = {{ points }};
        console.log("Hi");
        console.log(myImgMri);
        myImgMri.onclick = GetCoordinatesMri;

        var myImgCt = document.getElementById("ct");
        console.log(myImgCt);
        myImgCt.onclick = GetCoordinatesCt;

    </script>
</div>
{% endblock %}